@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
  margin: 0;
  padding: 0;
  background-color: white;
}
.imgHome {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
.welcome {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
}
.firstTitle {
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
}

.firstPhrase {
  max-width: 800px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white;
}

.secondTitle {
  font-size: 24px;
  margin-bottom: 20px;
}
.secondPhrase {
  font-size: 16px;
  text-align: justify;
}

.carousel {
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.carouselContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
}

.carouselCard {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  width: 300px;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.carouselCard:hover {
  scale: 102%;
}

.textHorseName {
  text-shadow: 1px 1px 2px black;
  position: absolute;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  bottom: 0;
  left: 0;
  margin: 0 0 20px 30px;
}

.layout {
  min-height: 100vh;
  min-width: 100%;
  background-image: url('/0_0.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}
